*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 300px 100px 1000px 200px;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "he"
        "nav"
        "main"
        "footer"    
    ;
}

.he1{
    font-size: 50px;
    background-image: url("../img/header_grot.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: -20%;
    margin-left: -10%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

h1{
    margin-top: 20%;
}

.nav1{
    background: blue;
}

.ma1{
    background: yellow;
}

.fo1{
    background: red;
}